@import 'styles/variables.scss';

.mat-column-username {
    flex: none;
    width: 70px;
}

.mat-column-roles {
    flex: none;
    width: 70px;

}

.mat-column-actions {
    flex: none;
    width: 70px;
}

