<sb-layout-dashboard>
    <div>
        <table mat-table [dataSource]="userDataSource">
            <ng-container matColumnDef="username">
                <mat-header-cell *matHeaderCellDef>Usuario</mat-header-cell>
                <mat-cell *matCellDef="let user">{{user.username}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="roles">
                <mat-header-cell *matHeaderCellDef>Roles</mat-header-cell>
                <mat-cell *matCellDef="let user">{{user.roles}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef>Estatus</mat-header-cell>
                <mat-cell *matCellDef="let user">{{user.status}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell class="justify-content-center" *matHeaderCellDef>
                    Acciones
                </mat-header-cell>
                <mat-cell class="justify-content-center" *matCellDef="let user">
                    
                    <button mat-icon-button color="primary" matTooltip="Editar Usuario" routerLink="./edit/{{user.id}}">
                        <mat-icon class="font-weight-boldest">create</mat-icon>
                    </button>&nbsp;

                    <button mat-icon-button color="warn" matTooltip="Eliminar"
                        (click)="openDeleteConfirmation(user.id, user.username)">
                        <mat-icon class="font-weight-boldest ">delete</mat-icon>
                    </button> &nbsp;

                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="userDisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: userDisplayedColumns"></mat-row>
        </table>
    </div>
</sb-layout-dashboard>
