<sb-layout-auth
    ><div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Iniciar Sesión</h3></div>
                    <div class="card-body">
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label class="small mb-1" for="inputEmailAddress">Usuario</label>
                                <input class="form-control py-4"
                                       formControlName="username" 
                                       type="text" 
                                       placeholder="Ingrese usuario" 
                                       [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                                />
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" for="inputPassword">Password</label>
                                <input class="form-control py-4" 
                                       type="password" 
                                       formControlName="password" 
                                       placeholder="Ingrese password" 
                                       [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                />
                            </div>
                            <!-- <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input"  type="checkbox" />
                                    <label class="custom-control-label" for="rememberPasswordCheck"></label>
                                </div>
                            </div> -->
                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                <a class="small" routerLink="/auth/forgot-password">Olvidate Password?</a>
                                <button [disabled]="loading"  class="btn btn-primary">
                                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                    Iniciar Sesión
                                </button>
                                <!-- <a class="btn btn-primary" routerLink="/dashboard">Iniciar Sesión</a> -->
                                <div *ngIf="error" class="alert alert-dark mt-3 mb-0">{{error}}</div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <div class="small"><a routerLink="/auth/register">Necesita una cuenta? Registrate!</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div></sb-layout-auth
>
